Repository SSoc-Student-SOCiety/SSoc, pull requests merged in 2023-09, with the labels that each got.

#4 feat: react native expo 종속성 설치 (#2)
  SSoc-Client/package-lock.json
  SSoc-Client/package.json
Labels: enhancement, frontend

#7 feat: 신한 계좌 잔액 조회 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanApiFeignClient.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanApiKey.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanBankService.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanBankServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/BalanceDetail.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/ShinhanApiDto.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/ShinhanBalanceDetailApi.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/ShinhanResponseHeader.java
  Backend/src/main/java/gwangju/ssafy/backend/config/HeaderConfiguration.java
  Backend/src/main/java/gwangju/ssafy/backend/config/OpenFeignConfig.java
Labels: enhancement, backend

#10 chore: ShinhanTransactionApi 오탈자 수정
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanApiFeignClient.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanBankServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/ShinhanTransactionApi.java
Labels: backend

#12 Client/develop/basic components
  SSoc-Client/src/components/Basic/Button.js
  SSoc-Client/src/components/Basic/Divider.js
  SSoc-Client/src/components/Basic/Spacer.js
  SSoc-Client/src/components/Basic/Typography.js
  SSoc-Client/src/components/Icons/Badge.js
  SSoc-Client/src/components/Icons/Icons.js
  SSoc-Client/src/components/Icons/TabIcon.js
  SSoc-Client/src/components/ImageLoader/LocalImage.js
  SSoc-Client/src/components/ImageLoader/PhotoListItem.js
  SSoc-Client/src/components/ImageLoader/RemoteImage.js
  SSoc-Client/src/components/Input/MultiLineInput.js
  SSoc-Client/src/components/Input/PasswordInputBox.js
  SSoc-Client/src/components/Input/SingleLineInput.js
  SSoc-Client/src/components/header/Header.js
  SSoc-Client/src/components/header/HeaderButton.js
  SSoc-Client/src/components/header/HeaderGroup.js
  SSoc-Client/src/components/header/HeaderTitle.js
Labels: enhancement, frontend

#13 feat: 신한 이체 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanApiFeignClient.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanBankService.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/ShinhanBankServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/ShinhanTransferApi.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/TransferRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/component/shinhan/dto/TransferResult.java
Labels: enhancement, backend

#22 feat: mainscreen 개발
  SSoc-Client/App.js
  SSoc-Client/src/modules/Card.js
  SSoc-Client/src/modules/MainSerachBar.js
  SSoc-Client/src/screens/MainScreen.js
Labels: enhancement, frontend

#41 feat: Srping Security 연동 및 로그인 처리 및 패스워드 암호화 기능 구현
  Backend/build.gradle
  Backend/src/main/java/gwangju/ssafy/backend/BackendApplication.java
  Backend/src/main/java/gwangju/ssafy/backend/config/SecurityConfig.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/controller/UserController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/controller/UserRestController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/entity/User.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/entity/enums/UserRole.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/repository/UserRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/service/UserService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/service/UserServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/global/config/SecurityConfig.java
  Backend/src/main/java/gwangju/ssafy/backend/global/infra/email/EmailServiceImpl.java
  Backend/src/test/java/gwangju/ssafy/backend/user/repository/UserRepositoryTest.java
  Backend/src/test/java/gwangju/ssafy/backend/user/service/UserServiceTest.java
Labels: enhancement, backend

#42 Client/develop/search result screen
  SSoc-Client/src/modules/Card.js
  SSoc-Client/src/modules/CategoryButton.js
  SSoc-Client/src/modules/MainSerachBar.js
  SSoc-Client/src/modules/ProfileImage.js
  SSoc-Client/src/modules/SearchButton.js
  SSoc-Client/src/modules/SearchOptionCategoryScroll.js
  SSoc-Client/src/modules/SearchResult.js
  SSoc-Client/src/modules/StackHeader.js
  SSoc-Client/src/screens/MainBottomTabs/MainScreen.js
  SSoc-Client/src/screens/MainBottomTabs/SearchResultScreen.js
Labels: enhancement, frontend

#50 feat: 그룹 거래내역 비고 수정 API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/controller/TransactionController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/dto/EditTransactionNoteRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/entity/Transaction.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/service/TransactionService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/service/impl/TransactionServiceImpl.java
Labels: enhancement, backend

#58 feat: group detail view 개발(#44)
  SSoc-Client/assets/basic_group_bgf.jpeg
  SSoc-Client/package-lock.json
  SSoc-Client/package.json
  SSoc-Client/src/hooks/useScrollEvnet.js
  SSoc-Client/src/modules/Card.js
  SSoc-Client/src/modules/MainSerachBar.js
  SSoc-Client/src/modules/SearchButton.js
  SSoc-Client/src/modules/SearchResult.js
  SSoc-Client/src/navigations/MainNavigations/RootStackNavigation.js
  SSoc-Client/src/screens/GroupDetailScreen.js
  SSoc-Client/src/screens/MainBottomTabs/MainScreen.js
  SSoc-Client/src/screens/MainBottomTabs/SearchResultScreen.js
  SSoc-Client/src/screens/StackDetailScreen.js
Labels: enhancement, frontend

#67 feat: group detail bottom tab 구현(#61)
  SSoc-Client/src/hooks/useScrollEvnet.js
  SSoc-Client/src/modules/StackHeader.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailBottomTabNavigation.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailStackNavigation.js
  SSoc-Client/src/navigations/MainNavigations/MainBottomTabNavigation.js
  SSoc-Client/src/navigations/MainNavigations/RootStackNavigation.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/BoardListScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Booking/BookingScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Schedule/ScheduleScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/SettlementScreen.js
  SSoc-Client/src/screens/GroupDetailScreen.js
Labels: enhancement, frontend

#70 feat: 그룹 상세 조회 API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/GetGroupInfoDetailRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/GroupDetailInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupMemberRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupServiceImpl.java
Labels: enhancement, backend

#79 feat: SettlementScreen 개발(#69)
  SSoc-Client/package-lock.json
  SSoc-Client/package.json
  SSoc-Client/src/components/header/Header.js
  SSoc-Client/src/modules/Card.js
  SSoc-Client/src/modules/MainHeader.js
  SSoc-Client/src/modules/MainSerachBar.js
  SSoc-Client/src/modules/Settlement/LineGraph.js
  SSoc-Client/src/modules/Settlement/LineGraphSection.js
  SSoc-Client/src/modules/Settlement/PieChartSection.js
  SSoc-Client/src/modules/Settlement/PieGraph.js
  SSoc-Client/src/modules/Settlement/SummaryCard.js
  SSoc-Client/src/modules/Settlement/TransactionItem.js
  SSoc-Client/src/modules/Settlement/TransactionListSection.js
  SSoc-Client/src/modules/Settlement/WalletSummarySection.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailBottomTabNavigation.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailStackNavigation.js
  SSoc-Client/src/navigations/MainNavigations/MainBottomTabNavigation.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Booking/BookingScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/DailySettlementScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/MonthlySettlementSceen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/SettlementReportScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/SettlementScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/SettlementsTopTabs.js
  SSoc-Client/src/screens/GroupDetailScreen.js
  SSoc-Client/src/util/hooks/useCurrentDate.js
  SSoc-Client/src/util/hooks/useCurrentWeekNumber.js
Labels: enhancement, frontend

#82 feat: 그룹계좌 거래내역 월간 통계 조회 API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/controller/TransactionStatisticsController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/dto/DailyStatisticsInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/dto/MonthlyStatisticsInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/dto/SearchDailyStatisticsRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/dto/SearchMonthlyStatisticsRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/repository/DailyTransactionStatisticsRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/repository/MonthlyTransactionStatisticsRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/service/TransactionStatisticsService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/service/impl/TransactionStatisticsServiceImpl.java
Labels: enhancement, backend

#86 feat: 그룹 일정 CRUD API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/controller/ScheduleController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/dto/CreateScheduleRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/dto/DeleteScheduleRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/dto/EditScheduleRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/dto/ScheduleInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/dto/SearchScheduleRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/entity/Schedule.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/repository/ScheduleRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/service/ScheduleService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/service/impl/ScheduleServiceImpl.java
Labels: enhancement, backend

#88 fix: settelment screen 버그 수정
  SSoc-Client/package-lock.json
  SSoc-Client/package.json
  SSoc-Client/src/modules/Settlement/TransactionListSection.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Schedule/ScheduleScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/DailySettlementScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/MonthlySettlementSceen.js
Labels: enhancement, frontend

#91 feat: schedule screen(#80)
  SSoc-Client/package-lock.json
  SSoc-Client/package.json
  SSoc-Client/src/components/Modal/DeleteModal.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Schedule/ScheduleScreen.js
Labels: enhancement, frontend

#95 feat: 게시글 CRUD API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/controller/PostController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/CreatePostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/DeletePostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/EditPostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/PostInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/SearchPostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/dto/cond/SearchPostCond.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/entity/Post.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/entity/enums/PostCategory.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/repository/PostRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/repository/QuerydslPostRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/repository/impl/QuerydslPostRepositoryImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/service/PostService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/service/impl/PostServiceImpl.java
Labels: enhancement, backend

#99 feat: 회원 탈퇴 기능 구현 및 Security에 의한 회원정보 권한에 따른 API 호출 제한 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/controller/UserRestController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/exception/BadRequestException.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/service/UserService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/service/UserServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/jwt/security/JwtAccessDeniedHandler.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/jwt/security/JwtAuthenticationEntryPoint.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/jwt/security/JwtAuthenticationToken.java
  Backend/src/main/java/gwangju/ssafy/backend/global/exception/ExceptionHandlerFilter.java
  Backend/src/main/resources/data-users.sql
Labels: enhancement, backend

#102 feat: 댓글 CRUD API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/repository/QuerydslPostRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/board/service/PostService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupMemberServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/controller/CommentController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/controller/PostController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/CommentInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/CreateCommentRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/CreatePostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/DeleteCommentRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/DeletePostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/EditCommentRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/EditPostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/PostInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/SearchCommentRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/SearchPostRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/cond/SearchCommentCond.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/dto/cond/SearchPostCond.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/entity/Comment.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/entity/Post.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/entity/enums/PostCategory.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/CommentRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/PostRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/QuerydslCommentRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/QuerydslPostRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/impl/QuerydslCommentRepositoryImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/repository/impl/QuerydslPostRepositoryImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/service/CommentService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/service/PostService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/service/impl/CommentServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/post/service/impl/PostServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/service/impl/ScheduleServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/transaction/service/impl/TransactionServiceImpl.java
Labels: enhancement, backend

#114 feat: 스케줄 도메인 예외 처리 및 시큐리티 적용
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/controller/ScheduleController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/exception/ScheduleError.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/exception/ScheduleException.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/exception/ScheduleExceptionHandler.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/schedule/service/impl/ScheduleServiceImpl.java
Labels: enhancement, backend

#118 feat: 그룹 내 가입 신청 처리 조회, 수락, 거절 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupSignupController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/DeleteGroupSignInfoRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/GetGroupSignupInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/GroupSignupInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/entity/GroupSignup.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupSignupRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupSignupService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupSignupServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/global/config/TestConfig.java
Labels: enhancement, backend

#123 feat: [Client] 그룹원 및 가입 신청 관리 페이지(#116)
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailStackNavigation.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/MemberManage/MemberManageScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/MemberManage/MemberManageTopTabs.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/MemberManage/RequestManageScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/MemberManageScreen.js
Labels: enhancement, frontend

#125 feat: [Client] 비동기 통신 진행 중
  Backend/src/main/resources/application.yml
  SSoc-Client/src/SplashView.js
  SSoc-Client/src/assets/JSON/School.json
  SSoc-Client/src/modules/Board/ContentCard.js
  SSoc-Client/src/modules/Board/ContentDetailFooter.js
  SSoc-Client/src/modules/Board/ContentDetailTitle.js
  SSoc-Client/src/modules/Board/ContentList.js
  SSoc-Client/src/modules/Board/WriteContentForm.js
  SSoc-Client/src/modules/Card.js
  SSoc-Client/src/modules/ImgEditButton.js
  SSoc-Client/src/modules/SearchResult.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailBottomTabNavigation.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailStackNavigation.js
  SSoc-Client/src/screens/AuthScreen/LoginScreen.js
  SSoc-Client/src/screens/AuthScreen/SchoolEmailScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/BoardContentList.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/BoardContentScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/BoardDetailScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/BoardDetatilTopTabs.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Board/ContentDetailScreen.js
  SSoc-Client/src/screens/GroupDetailScreen.js
  SSoc-Client/src/screens/MainBottomTabs/MainScreen.js
  SSoc-Client/src/screens/MainBottomTabs/SearchResultScreen.js
  SSoc-Client/src/util/FetchUtil.js
Labels: enhancement, frontend

#130 feat: 그룹장이 해당 그룹원 삭제하는 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupMemberController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupSignupController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/dto/DeleteGroupMemberInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupMemberRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupSignupRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupMemberService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupSignupService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupMemberServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupSignupServiceImpl.java
Labels: enhancement, backend

#135 feat: 거래내역 엑셀 다운로드 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/controller/TransactionController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/dto/TransactionInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/repository/QueryDslTransactionRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/repository/TransactionRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/repository/impl/QueryDslTransactionRepositoryImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/service/TransactionService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/service/impl/TransactionServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/excel/ExcelColumn.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/excel/ExcelColumnExtractor.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/excel/SimpleExcelFile.java
  Backend/src/main/java/gwangju/ssafy/backend/global/exception/ExcelException.java
  Backend/src/main/java/gwangju/ssafy/backend/global/exception/GlobalException.java
Labels: enhancement, backend

#144 feat: 날짜 선택 시 해당 그룹의 대여 물품 예약 가능 여부 상세 조회 기능 구현 (그룹에 가입되어 있는 유저 입장)
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupMemberServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ProductController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ReservationController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/dto/ReservationSimpleInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/entity/Reservation.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ReservationRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ReservationService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
Labels: enhancement, backend

#147 feat: 그룹 관리자가 예약 내역 조회하는 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ReservationController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/dto/GetReservationUser.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ReservationRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ReservationService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
Labels: enhancement, backend

#148 feat: 그룹 관리자가 예약 내역을 선택하여 해당 예약 승인 OR 거절 처리하는 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ReservationController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/entity/Reservation.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ReservationRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ReservationService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
Labels: enhancement, backend

#151 feat: 회원이 그룹 가입 신청하는 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupSignupController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/exception/GroupError.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupSignupRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupSignupService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupMemberServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupSignupServiceImpl.java
Labels: enhancement, backend

#153 fix: 회원이 그룹 가입 신청하는 기능 일부 수정 및 보완
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/exception/GroupError.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/repository/GroupSignupRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupSignupServiceImpl.java
Labels: enhancement, backend

#156 feat: 대여 물품 생성 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ProductController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ReservationController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/dto/CreateProductRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/dto/ProductInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ProductService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ProductServiceImpl.java
Labels: enhancement, backend

#159 feat: 대여 물품 삭제 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ProductController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ProductRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ReservationRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ProductService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ProductServiceImpl.java
Labels: enhancement, backend

#163 fix: 프로필 이미지 업로드시 토큰 오류 해결
  SSoc-Client/package.json
  SSoc-Client/src/modules/ImgEditButton.js
Labels: frontend, fix

#166 feat: 메일 알림 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/global/component/alarm/AlarmService.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/alarm/impl/MailAlarmServiceImpl.java
  Backend/src/main/resources/static/images/image-1.png
  Backend/src/main/resources/static/images/image-2.png
  Backend/src/main/resources/templates/alarm.html
Labels: enhancement, backend

#167 feat: 그룹원인 내가 예약한 대여 물품 내역 조회하는 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/controller/GroupSignupController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/GroupSignupService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/group/service/impl/GroupSignupServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/controller/ReservationController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/dto/GetReservationProduct.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/repository/ReservationRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/ReservationService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
Labels: enhancement, backend

#169 feat: 예약관리 조회 페이지 구현
  SSoc-Client/src/components/Modal/ReservationAcceptRejectModal.js
  SSoc-Client/src/modules/CommonModules/ManagerActionButton.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailBottomTabNavigation.js
  SSoc-Client/src/navigations/GroupDetailNavigations/GroupDetailStackNavigation.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Booking/BookingItemDetailScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Booking/BookingTopTabs.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/AddProductScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/AllBookingListScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/ApprovedScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/BookingManageScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/BookingManageTopTabs.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManage/NotApprovedListScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Manage/BookingManageScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Schedule/ScheduleScreen.js
  SSoc-Client/src/util/FetchUtil.js
Labels: enhancement, frontend

#170 feat: 가입 그룹 계좌 조회 API 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/controller/GroupAccountController.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/dto/GetMyGroupAccountRequest.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/dto/GroupAccountInfo.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/repository/GroupAccountRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/service/GroupAccountService.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/account/service/impl/GroupAccountServiceImpl.java
Labels: enhancement, backend

#173 feat: Exception 핸들링 안된 도메인 부분들 처리
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/exception/ReservationError.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/exception/ReservationException.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/exception/ReservationHandler.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ProductServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/controller/UserController.java
  Backend/src/main/java/gwangju/ssafy/backend/global/component/jwt/repository/RefreshRepository.java
  Backend/src/main/java/gwangju/ssafy/backend/global/config/TestConfig.java
  Backend/src/main/java/gwangju/ssafy/backend/global/infra/email/service/impl/EmailServiceImpl.java
Labels: enhancement, backend

#177 feat: 그룹관리자가 물품 예약 승인 OR 거절 시 예약한 해당 인원에게 메일 발송 기능 구현
  Backend/src/main/java/gwangju/ssafy/backend/domain/reservation/service/impl/ReservationServiceImpl.java
  Backend/src/main/java/gwangju/ssafy/backend/global/infra/email/service/impl/EmailServiceImpl.java
Labels: enhancement, backend

#179 fix: 이미지 null값 안들어가게끔 수정
  Backend/src/main/java/gwangju/ssafy/backend/domain/user/dto/UserSignUpRequestDto.java
Labels: enhancement, backend

#180 feat: 정산 페이지 api 연동
  SSoc-Client/src/modules/ImgEditButton.js
  SSoc-Client/src/modules/Settlement/TransactionItem.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/DailySettlementScreen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/MonthlySettlementSceen.js
  SSoc-Client/src/screens/GroupDetailBottomTabs/Settlement/SettlementReportScreen.js
  SSoc-Client/src/util/FetchUtil.js
Labels: enhancement, frontend
